<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script>
        // convenience function
        function addMessage(username, contents) {
            // these lines make a message element
            //
            // in HTML, it looks like this:
            // <p>username: message</p>
            const messages = document.getElementById("messages")
            const msg = document.createElement("p")
            msg.innerText = `${username}: ${contents}`

            // add the message to the messages box
            messages.appendChild(msg)

            // scroll to the bottom of the messages box,
            // because new messages are put at the bottom
            messages.scroll({
                top: 9999999
            })
        }

        function main() {
            const sendForm = document.getElementById("sendForm")
            const message = document.getElementById("message")

            // TODO: write your logic here!
            const conn = new WebSocket("wss://chat.lawsmat.com/chat")
            conn.addEventListener("open", () => {
                const name = prompt("please enter your name:")
                // const name = "lawson"
                conn.send(JSON.stringify({
                    name: name
                }))
            })

            conn.addEventListener("message", e => {
                console.log("message!", e.data)
                const data = JSON.parse(e.data)
                if (data.welcome) {
                    // we're in and can start sending and receiving messages
                    alert("welcome")
                }
                if (data.message) {
                    addMessage(data.name, data.message)
                }
            })

            conn.addEventListener("close", () => {
                console.log("close :(")
            })

            sendForm.addEventListener("submit", e => {
                e.preventDefault()
                const messageText = message.value

                conn.send(JSON.stringify({
                    message: messageText
                }))

                sendForm.reset()
            })
        }
        
        // this runs our main functon when the page has loaded fully
        // don't worry about it too much
        document.addEventListener("DOMContentLoaded", main)
    </script>
    <style>
        /* your styles here */
    </style>
</head>
<body>
    <h1>Chat</h1>
    <div id="messages">
        <!-- this space will get filled with messages! -->
    </div>
    <form id="sendForm">
        <input id="message" type="input" placeholder="message" />
        <button type="submit">send!</button>
    </form>
</body>
</html>